<html>
<body>
<div>
    <form method="post">
        <input type="text" name ="text" />
        <input type="text" name ="tag" />
        <button type="submit"></button>

    </form>
</div>
</body>
</html>